.cms .readonly-click-toggle span { cursor: pointer; }
.cms .readonly-click-toggle span:hover { background-color: #CCC; }
.cms .Actions.clear-imports { padding-bottom: 6px; border-bottom: 1px solid #D0D3D5; }
