.cms {
	.readonly-click-toggle span {
		cursor: pointer;
	}
	.readonly-click-toggle span:hover {
		background-color: #CCC;
	}
	.clear-imports {
		p, .Actions {
			padding-left: 12px;
		}
		p {
			margin: 0;
		}
	}
}
